In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
X_train=pd.read_csv("train_X.csv")
Y_train=pd.read_csv("train_Y.csv")

X_test=pd.read_csv("test_X.csv")
Y_test=pd.read_csv("test_Y.csv")

In [72]:
X_train.head()

   Id  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0   0       3    0  22.0      1      0   7.2500         1
1   1       1    1  38.0      1      0  71.2833         0
2   2       3    1  26.0      0      0   7.9250         1
3   3       1    1  35.0      1      0  53.1000         1
4   4       3    0  35.0      0      0   8.0500         1

In [73]:
#we need to temove first column as it is faltu
X_train=X_train.drop("Id",axis=1)
Y_train=Y_train.drop("Id",axis=1)


X_test=X_test.drop("Id",axis=1)
Y_test=Y_test.drop("Id",axis=1)

In [75]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         1
1       1    1  38.0      1      0  71.2833         0
2       3    1  26.0      0      0   7.9250         1
3       1    1  35.0      1      0  53.1000         1
4       3    0  35.0      0      0   8.0500         1

In [76]:
#reshapign the data for correct operations
X_train = X_train.T
Y_train = Y_train.values.reshape(1, X_train.shape[1])

X_test = X_test.T
Y_test = Y_test.values.reshape(1, X_test.shape[1])

In [77]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(7, 891)
(1, 891)
(7, 418)
(1, 418)

In [78]:
def sigmoidfunction(x):
    return 1/(1-np.exp(-x))

In [79]:
def logisticregression(X,Y,learningrate,iterations):
    
    #number of training examples
    m=X_train.shape[1]
    n=X_train.shape[0]
    
    #parameters definition
    W=np.zeros((n,1))
    B=0

    cost_list=[]
    for i in range(iterations):
        Z=np.dot(W.T,X)+B
        #to show predicted value of y
        A=sigmoidfunction(Z)
        
        #cost fucniton
        cost=-(1/m)*np.sum(Y*np.log(A)+(1-Y)*np.log(1-A))

        #derivates
        dW=(1/m)*np.dot(A-Y,X.T)
        dB=(1/m)*np.sum(A-Y)

        #updation
        W=W-learningrate*dW
        B=B-learningrate*dB
        cost_list.append(cost)

    return W,B,cost_list

In [ ]:
iterations=1000000
learningrate=0.005
W,B,cost_list=logisticregression(X_train,Y_train,learningrate,iterations)

In [ ]:
plt.plot(np.arange(iterations),cost_list)
plt.show()

In [65]:
def accuracy(X, Y, W, B):
    
    Z = np.dot(W.T, X) + B
    A = sigmoidfunction(Z)
    
    A = A > 0.5
    
    A = np.array(A, dtype = 'int64')
    
    acc = (1 - np.sum(np.absolute(A - Y))/Y.shape[1])*100
    
    print("Accuracy of the model is : ", round(acc, 2), "%")

In [66]:
accuracy(X_test, Y_test, W, B)

Accuracy of the model is :  -154.55 %